.nave-container{
   
    display: flex;
    justify-content: space-between;
    /* margin-top: 10px; */
    background-color: darkgrey;
    padding: 15px;
    margin-bottom: 0px;
}
.nave-title{
    margin-left: 140px;
}
.nave-title h1{
    padding:0px;
    margin: 0px;
}
.nave-rout{
    margin-right:120px;
}
.nave-rout a{
    text-decoration: none;
    font-size: 22px;
    margin-right:15px;

}
.nave-rout a li{
    list-style: none;
    display: inline-block;
}

/* .icon-hero{
    width:30px;
   display: none;
} */
.iCON{
    width:30px;
    display: none;
}


@media only screen and (max-width:600px) {
   
  
    .nave-title{
        margin-left: 20px;
    }

    .nave-rout{
        margin-left:100px;

    }
    .nave-rout a{
        text-decoration: none;
        font-size: 18px;
        margin-right:10px;
    
    }

    .nave-rout a li{
        list-style: none;
        display: block;
        padding: 0px;
        
    }

   
    .iCON{
        width:30px;
        display: block;
        
    }
}