.rechart{
    margin:auto;
    width:30%;
    /* margin-left:40px; */
}
.chart{
    margin-top: 70px;
}


@media only screen and (max-width:600px) {
  
      
        
    .chart-size{
        width: 350px;
        margin-left:20px;
        
    }
        
    
   
    .chart{
        margin-left: -180px;
    }
}