.rechart{
    margin:auto;
    width:40%;
    
}
.chart{
    margin-top: 70px;
}


@media only screen and (max-width:600px) {
    .rechart{
        /* margin:auto; */
        width:20px;
        
    }

    .chart{
        width: 20px;
        margin-left: 0px;
    }

   
    
}