/* .question-container{
    
    width: 80%;
    margin: auto;
     
} */
.question-title{
    font-size: 25px;
    color: blueviolet;
    /* width: 600px;
    margin: auto; */
}

.options p{
   font-size: 18px;
  
   border: 1px solid black;
   margin-left: 20px;
   padding:30px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   background-color: rgba(221, 221, 221, 0.391);
   /* color:white; */
   font-weight: 400;
   
   
}
.options p:hover{
    background-color: rgba(62, 62, 157, 0.769);
    color: aliceblue;
    cursor: pointer;
}


.eye-icon{
    margin-left: 600px;
}

@media only screen and (max-width:600px) {
  


    .question-title{
        font-size: 25px;
        color: blueviolet;
        width: 200px;
        margin: auto; 
        padding-left: 80px;
    }

}